<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avada Gym</title>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /FontAwesome -->
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <!-- /Google Font -->
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /VueJs -->
    <!-- CSS -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- /CSS -->
</head>
<body>
<div id="root">
<header>
<!-- Main Nav -->
 <div class="nav-header">
  <div class="logo">
    <img src="img/gym_logo_1x.png" alt="Logo">
  </div>
  <div class="links">
    <ul>
    <!-- Con la direttiva v-for stampo i link della nav -->
    <li v-for="link in linksNav"><a :href="link.dest">{{ link.sect }}</a></li>
   </ul>
  </div>
 </div>
<!-- /Main Nav -->
<!-- Main Text -->
<div class="container-sm text-banner">
  <h1>No pain no gain</h1>
   <p>Motivation is what gets you started, Habit is what you keep going.</p>
   <button class="btn-primary">Join us today</button>
</div>
<!-- /Main Text -->
</header>

<main>
<!-- Starter Section -->
 <section class="starter">
  <div class="container-sm">
   <div class="box">
    <h3>World Class Fitness</h3>
    <img class="cross" src="img/divider-xx-red.png" alt="divider">
    <p>At Avada Gym, everything we do from top to bottom is of the highest quality to ensure we’re equipped to help you reach your goals of a healthy and fit lifestyle.</p>
  </div>
 </div>
</section>
<!-- /Starter Section -->


<!-- Divider -->
<div class="divider">
  <div class="divider-bottom"></div>
</div>
<!-- /Divider -->



<!-- Sezione Login -->
<section class="login">
  <div class="container">
   <div class="box-login">
      <div class="img-login">
        <img src="img/home_img-compressor-400x222.jpg" alt="Login img">
      </div>
      <div class="input-login">
        <h4>Sign Up For A Free Training Session!</h4>
        <label for="Name">Name*</label>
        <input type="text" placeholder="Inserisci il tuo nome">
        <label for="">E-mail</label>
        <input type="text" placeholder="Inserisci la tua E-Mail">
        <button class="btn-primary btn-login">Start Now!</button>
      </div>
    </div>
  </div>
</section>
<!-- /Sezione Login -->
<!-- Sezione Attività -->
<section class="activities">
  <div class="container">
    <div class="box box-activity">
      <button class="btn-primary btn-activity"><i class="fas fa-fire-alt"></i></button>
      <h5>Strength & Conditioning</h5>
      <img class="single-cross" src="img/divider-x-red.png" alt="divider">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare es volutpat etra us.</p>
    </div>
    <div class="box box-activity">
      <button class="btn-primary btn-activity"><i class="fas fa-bicycle"></i></button>
      <h5>Fitness & Cardio</h5>
      <img class="single-cross" src="img/divider-x-red.png" alt="divider">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare es volutpat etra us.</p>
    </div>
    <div class="box box-activity">
      <button class="btn-primary btn-activity"><i class="fab fa-skyatlas"></i></button>
      <h5>Flexibility & Rest</h5>
      <img class="single-cross" src="img/divider-x-red.png" alt="divider">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare es volutpat etra us.</p>
    </div>
    <div class="box box-activity">
      <button class="btn-primary btn-activity"><i class="fas fa-heartbeat"></i></button>
      <h5>Healt & Diet</h5>
      <img class="single-cross" src="img/divider-x-red.png" alt="divider">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare es volutpat etra us.</p>
    </div>
  </div>
</section>
<!-- /Sezione Attività -->
<!-- Sezione Real World Results -->
 <section class="results">
   <div class="box">
     <h3>Real World Results</h3>
     <img class="cross" src="img/divider-xx-red.png" alt="divider">
   </div>
<!-- First Row -->
   <div class="container">
     <div class="box-results">
       <div class="img-guy">
         <img src="img/review_1-compressor.jpg" alt="review 1">
       </div>
       <div class="results-text">
         <p>“The trainers at Avada Gym have helped me reach my fitness goals beyond anything I could of hoped for. I love it!”</p>
         <h5>– Tara Smith</h5>
       </div>
     </div>

     <div class="box-results">
      <div class="img-guy">
        <img src="img/review_3-compressor-2.jpg" alt="review 3">
      </div>
      <div class="results-text">
        <p>“The facilities at Avada Gym stood out to me the most. They are well maintained and have high quality equipment.”</p>
        <h5>– Simon Chel</h5>
      </div>
    </div>
   </div>
<!-- /First Row -->
<!-- Second Row -->
   <div class="container">
    <div class="box-results">
      <div class="img-guy">
        <img src="img/review_2-compressor.jpg" alt="review 4">
      </div>
      <div class="results-text">
        <p>“No bad things to say about Avada Gym, they are top notch at every corner and truly take care of their customers.”</p>
        <h5>– Jeff Glum</h5>
      </div>
    </div>

    <div class="box-results">
     <div class="img-guy">
       <img src="img/review_4-compressor-2.jpg" alt="review 1">
     </div>
     <div class="results-text">
       <p>“The atmosphere at Avada Gym is amazing, the people are even better. All in all, it is a great place to work out.”</p>
       <h5>– Simon Chel</h5>
     </div>
   </div>
  </div>
  <!-- /Second Row -->
 </section>
<!-- /Sezione Real World Results -->
<!-- Sezione Facilities -->
 <section class="facilities">
   <div class="box">
     <h3>High Performance Facilities</h3>
     <img class="cross" src="img/divider-xx-red.png" alt="divider">
   </div>

   <div class="container">
     <div class="img-facilities">
       <img src="https://avada.theme-fusion.com/gym/wp-content/uploads/sites/9/2015/05/home-image1.jpg" alt="img home 1">
     </div>
     <div class="img-facilities">
      <img src="https://avada.theme-fusion.com/gym/wp-content/uploads/sites/9/2015/05/home-image2.jpg" alt="img home 2">
    </div>
    <div class="img-facilities">
      <img src="https://avada.theme-fusion.com/gym/wp-content/uploads/sites/9/2015/05/home-image3.jpg" alt="img home 3">
    </div>
   </div>

   <div class="container">
    <div class="img-facilities">
      <img src="https://avada.theme-fusion.com/gym/wp-content/uploads/sites/9/2015/12/home-image4.jpg" alt="img home 1">
    </div>
    <div class="img-facilities">
     <img src="https://avada.theme-fusion.com/gym/wp-content/uploads/sites/9/2015/05/home-image54.jpg" alt="img home 1">
   </div>
   <div class="img-facilities">
     <img src="https://avada.theme-fusion.com/gym/wp-content/uploads/sites/9/2015/05/home-image6.jpg" alt="img home 1">
   </div>
  </div>
 </section>
<!-- /Sezione Facilities -->
<!-- Sezione Quote of the day -->
<section class="quote-of-the-day">
  <div class="container-sm">
    <p class="quote">“ I fear not the man who has practiced 10,000 kicks once, but I fear the man who has practiced one kick 10,000 times ”</p>
    <img src="img/divider-white-xx.png" alt="divider white">
    <h4>Bruce Lee • Quote of the day</h4>
  </div>
</section>
<!-- /Sezione Quote of the day -->
<!-- Sezione Trainers -->
 <section class="trainers">
   <div class="box">
     <h3>Meet our trainers</h3>
     <img class="cross" src="img/divider-xx-red.png" alt="divider">
   </div>
   <div class="container">
     <div class="box box-trainer">
       <img src="img/trainer1.jpg" alt="">
       <div class="trainer-descr">
       <h5>Ann Baker</h5>
       <h5>Personal Trainer</h5>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, onare volutpat.</p>
       <ul class="list-social">
         <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
         <li><a href=""><i class="fab fa-twitter"></i></a></li>
         <li><a href=""><i class="fab fa-instagram"></i></a></li>
       </ul>
      </div>
     </div>

     <div class="box box-trainer">
      <img src="img/trainer3.jpg" alt="">
      <div class="trainer-descr">
      <h5>Anne Warren</h5>
      <h5>Personal Trainer</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, onare volutpat.</p>
      <ul class="list-social">
        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
      </ul>
     </div>
    </div>

    <div class="box box-trainer">
      <img src="img/trainer4.jpg" alt="">
      <div class="trainer-descr">
      <h5>Peter Rice</h5>
      <h5>Personal Trainer</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, onare volutpat.</p>
      <ul class="list-social" >
        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
      </ul>
     </div>
    </div>

   </div>
   <div class="box">
     <button class="btn-primary">View All trainers</button>
   </div>
 </section>
<!-- /Sezione Trainers -->
<!-- Divider -->
<div class="divider">
  <div class="divider-bottom trainer-div"></div>
</div>
<!-- /Divider -->

<!-- Sezione Performance News -->
<section class="performance-news">
  <div class="box">
    <h3>Performance News</h3>
    <img class="cross" src="img/divider-xx-red.png" alt="divider">
  </div>
  <!-- First Row -->
  <div class="container container-grid">
    <!-- Box Column 1-->
    <div class="box box-performance">
      <!-- Box Up -->
      <div class="box-up">
      <!-- Img Effect -->
      <div class="img-wrapper">
        <img src="img/blog1.jpg" class="image">
        <div class="overlay">
          <div class="text-overlay">
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <!-- /Img Effect -->
      <div class="text-news">
      <h5>Train with free weights or your body weight?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, tortor vitae porttitor suscipit, sapien purus aliquet risus, eu finibus arcu ante nec risus. [...]</p>
     </div>
    </div>
    <!-- /Box Up -->
    <!-- Box Sub -->
     <div class="box-sub">
      <!-- Img Effect -->
      <div class="img-wrapper">
        <img src="img/blog4.jpg" class="image">
        <div class="overlay">
          <div class="text-overlay">
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <!-- /Img Effect -->
      <div class="text-news">
      <h5>Train with free weights or your body weight?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, tortor vitae porttitor suscipit, sapien purus aliquet risus, eu finibus arcu ante nec risus. [...]</p>
     </div>
    </div>
   <!-- /Box Sub -->
    </div>
   <!-- /Box Column 1 -->

   <!-- Box Column 2 -->
    <div class="box box-performance">
    <!-- Box Up -->
      <div class="box-up">
         <!-- Img Effect -->
      <div class="img-wrapper">
        <img src="img/blog6.jpg" class="image">
        <div class="overlay">
          <div class="text-overlay">
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <!-- /Img Effect -->
      <div class="text-news">
      <h5>Train with free weights or your body weight?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, tortor vitae porttitor suscipit, sapien purus aliquet risus, eu finibus arcu ante nec risus. [...]</p>
     </div>
    </div>
    <!-- /Box Up -->
    <!-- Box Sub -->
     <div class="box-sub">
      <!-- Img Effect -->
      <div class="img-wrapper">
        <img src="img/trainer3.jpg" class="image">
        <div class="overlay">
          <div class="text-overlay">
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <!-- /Img Effect -->
      <div class="text-news">
      <h5>Train with free weights or your body weight?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, tortor vitae porttitor suscipit, sapien purus aliquet risus, eu finibus arcu ante nec risus. [...]</p>
     </div>
    </div>
  <!-- /Box Sub -->
    </div>
  <!-- /Box Column 2 -->


  <!-- Box Column 3 -->
    <div class="box box-performance">
    <!-- Box Up -->
     <div class="box-up">
       <!-- Img Effect -->
       <div class="img-wrapper">
        <img src="img/trainer4.jpg" class="image">
        <div class="overlay">
          <div class="text-overlay">
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <!-- /Img Effect -->
      <div class="text-news">
      <h5>Train with free weights or your body weight?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, tortor vitae porttitor suscipit, sapien purus aliquet risus, eu finibus arcu ante nec risus. [...]</p>
     </div>
     </div>
    <!-- /Box Up -->
    <!-- Box Sub -->
     <div class="box-sub">
      <!-- Img Effect -->
      <div class="img-wrapper">
        <img src="img/trainer1.jpg" class="image">
        <div class="overlay">
          <div class="text-overlay">
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <!-- /Img Effect -->
      <div class="text-news">
      <h5>Train with free weights or your body weight?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, tortor vitae porttitor suscipit, sapien purus aliquet risus, eu finibus arcu ante nec risus. [...]</p>
     </div>
    </div>
   <!-- Box Sub -->
   </div>
  <!-- Box Column 3 -->
  </div>
  <div class="box">
    <button class="btn-primary">Read All Articles</button>
  </div>
</section>
<!-- /Sezione Performance News -->
<!-- Sezione Goals -->
<section class="goals">
  <div class="container container-cnt">
    <div class="goals-text">
      <h4>Achieve Your Fitness Goals</h4>
       <p>Flexible membership packages to suit all levels of athlete and achive your fitness goals</p>
    </div>
    <div class="button-join">
      <button class="btn-primary btn-end">Join Us</button>
    </div>
  </div>
</section>
<!-- /Sezione Goals -->
</main>

<footer>
 <!-- /Footer Top -->
  <div class="footer-top">
  <div class="container">
    <!-- FindUs -->
    <div class="box">
      <h5>How to Find us</h5>
      <ul class="list-column">
        <li v-for='( info , key) in findUs'><a href="">{{ key }} : {{ info }}</a></li>
      </ul>
    </div>
   <!-- /FindUs -->
   <!-- Recent Posts -->
   <div class="box">
     <h5>Recent posts</h5>
     <ul class="list-column">
       <li v-for='question in questions' class="question"><a href=""><i class="fas fa-caret-right"></i> {{ question }}</a></li>
     </ul>
   </div>
   <!-- /Recent Posts -->
   <!-- Opening Hours -->
   <div class="box">
     <h5>Opening Hours</h5>
      <ul class="list-column">
        <li v-for="info in openingHours">
          <h6>{{ info.type }} {{ info.range }}</h6>
          <p>{{ info.schedule }}</p>
        </li>
      </ul>
   </div>
   <!-- /Opening Hours -->
   <!-- Discount img -->
   <div class="box">
     <div class="discount-img">
       <img src="img/gym_ad-compressor.jpg" alt="Discount">
     </div>
   </div>
    <!-- /Discount img -->

  </div>
</div>
<!-- /Footer Top -->
<!-- Footer Bottom -->
<div class="footer-bottom">
  <div class="container container-cnt">
    <div class="copyright">
      <ul>
        <li v-for="info in copyrightInfo "> {{ info }}</li>
      </ul>
       
    </div>

  <div class="social">
    <ul class="list-social" id="footer-icons">
      <li v-for="icon in socialIcons"><a href=""><i :class="icon.fam + icon.prefix + icon.id"></i></a></li>
    </ul>
  </div>
      
  
  </div>
</div>
<!-- /Footer Bottom -->

</footer>
 </div> 
    
 


<script src="src/app.js"></script>
</body>
</html>