.btn-primary {
padding: 15px;
background: none;
border: 1px solid $secondary-text-color;
color: $secondary-text-color;
text-transform: uppercase;
width: 140px;
margin-top: $margin-top-section;
cursor: pointer;
 &.btn-login {
  background: $active-color;
  color: $standard-text-color;
  margin-top: 30px;
  border: none;
 }
}
