.btn-primary {
padding: 15px;
background: none;
border: 2px solid $secondary-text-color;
color: $secondary-text-color;
text-transform: uppercase;
width: 140px;
margin-top: $margin-top-section;
cursor: pointer;
 &.btn-login {
  background: $active-color;
  color: $standard-text-color;
  margin-top: 30px;
  border: none;
 }
 &.btn-activity {
color: $active-color;
border: 1px solid $active-color;
border-radius: 50%;
height: 100px;
width: 100px;
font-size: 22px;
  &:hover {
    background-color: $active-color;
    color: $secondary-text-color;
  }
 }
}
