.btn-primary {
padding: 15px;
background: none;
border: 2px solid $secondary-text-color;
color: $secondary-text-color;
text-transform: uppercase;
width: 180px;
margin-top: $margin-top-section;
cursor: pointer;

&:hover {
  border: 2px solid $standard-text-color;
  color: $standard-text-color;
}
 &.btn-login {
  background: $active-color;
  color: $standard-text-color;
  margin-top: 30px;
  border: none;
 }
 &.btn-activity {
color: $active-color;
border: 1px solid $active-color;
border-radius: 50%;
height: 100px;
width: 100px;
font-size: 40px;
transition: all 1s ease;
  &:hover {
    background-color: $active-color;
    color: $secondary-text-color;
    transform: matrix( 0.93, 0, 0, 0.93, 0, 0);
  }
 }
}
