* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: 'Source Sans Pro', sans-serif;
}
.container {
@include containerStandard;
}
.container-sm {
@include containerSm;
}
//boxes
.box {
 @include boxColumn;
 align-items: center;
    
  p {
   color: $secondary-text-color;
   font-size: 22px;
   margin-top: 60px;
   }
  img {
     width: 100%;
     }
   &.box-activity {
      text-align: center;
      margin: 20px;
      max-width: 250px;
        p {
         margin-top: 25px;
         line-height: 22px;
         font-size: 18px;
        }
       h5 {
         font-size: 22px;
         color: $standard-text-color;
         padding: 25px 0;
       }
   }
   &.box-trainer {
   max-width: 380px;
   background-color: $grey-bg;
   align-items: flex-start;
      img {
      max-width: 380px;
      transition: all 1.2s;
       &:hover {
         transform: scale(1.1);
       }
      }
   }

}
.box-results {
 display: flex;
 padding: 40px;
 background-color: $darker-bg;
 max-width: 550px;
 color: $secondary-text-color;
  p {
   font-size: 18px;
   font-style: italic;
  }
  h5 {
    font-size: 22px;
    line-height: 40px;
  }
}
.img-guy {
 padding-right: 10px;
}
//Crosses
.cross {
 max-width: 30px;
 }
 .single-cross {
max-width: 15px;
 }