* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: 'Source Sans Pro', sans-serif;
}

.container {
@include containerStandard;
  &.container-grid {
    @include containerGrid;
  }
  &.container-cnt {
  @include containerCentered;
  }
  &.container-two-wrap {
   flex-wrap: wrap;
  }
}
.container-sm {
@include containerSm;
}
