.footer-top {
background-color: $darker-bg;
  h5 {
   text-transform: uppercase;
   font-size: 20px;
   color: $secondary-text-color;
   padding: 50px 0;
   font-weight: lighter;
  }
  h6 {
  font-size: 15px;
  font-weight: lighter;
  }
  p {
    font-size: 15px;
    margin-top: 0;
    color: $grey-bg;
   }
  
}

.footer-bottom {
background-color: $lighter-bg;
}

.list-column {
display: flex;
flex-direction: column;
list-style: none;
line-height: 30px;
li {
color: $secondary-text-color;
}
  a {
  color: $secondary-text-color;
  text-decoration: none;
  }
}

.question {
 border-bottom: 1px solid $grey-bg;
 padding-bottom: 15px;
}

.discount-img {
margin-top: 40px;
cursor: pointer;
}


.copyright {
@include listFlex;
 li {
  color: $secondary-text-color;
  padding: 0 10px;
  border-right: 2px solid $secondary-text-color;
 }
 :nth-child(4) {
   border-right: none;
 }
}

.social {
  ul {
   display: flex;
  }
  li {
  background-color: $active-color;
  }
}