.nav-header {
@include displayNav;
height: 120px;
padding: 0 60px;
}
.logo img {
max-width: 150px;
}
.links {
@include listFlex;
   a {
     color: $standard-text-color;
     text-transform: uppercase;
      &:hover {
       color: $active-color;
       }
    }
}

.burger-menu {
display: none;
}
header {
background-image: url('../img/home-banner.jpg');
@include bgImage;
height: 100vh;
}
.text-banner { 
color: $standard-text-color ;
margin-top: 100px;
}

