.starter {
padding: 70px 0;
background-color: $lighter-bg ;
}
//login style
.login {
height: 450px;
background-color: $darker-bg ;
padding: 100px 0;
}

.box-login {
  display: flex;
  margin: auto;
}
.img-login {
padding: 0 30px;
}
.input-login {
@include boxColumn;
font-size: 20px;
color: $secondary-text-color;
line-height: 30px;
 input , button {
  width: 400px;
 }
 input {
  border: 2px solid $secondary-text-color;
  background: transparent;
  padding: 10px;
 }
 label {
  margin-top: 20px;
 }
}
//activities style 
.activities {
background-image: url('../img/gym_bkgd_bw-compressor.jpg');
height: 600px;
@include bgImage;
display: flex;
align-items: center;
}
//Real world results style
.results {
background-color: $lighter-bg;
padding: 40px 0;
}