.starter {
padding: 70px 0;
background-color: $lighter-bg ;
}

//Crosses
.cross {
  max-width: 30px;
  }
  .single-cross {
 max-width: 15px;
  }
//login 
.login {
background-color: $darker-bg ;
padding: 90px 0;
}

.box-login {
  display: flex;
  margin: auto;
}
.img-login {
 padding: 0 40px;
}
.input-login {
@include boxColumn;
font-size: 20px;
color: $secondary-text-color;
line-height: 30px;
 input , button {
  width: 400px;
 }
 input {
  border: 2px solid $secondary-text-color;
  background: transparent;
  padding: 10px;
 }
 label {
  margin-top: 20px;
 }
}
//Sections style
.activities {
@include bgImage;
@include centerItems;
background-image: url('../img/gym_bkgd_bw-compressor.jpg');
height: 600px;
}

.results , .facilities , .performance-news  {
background-color: $lighter-bg;
padding: 40px 0;
}
.trainers {
 @include listFlex;
 background-color: $darker-bg;
 padding: 30px 0;
}

//results
.img-guy {
  padding-right: 10px;
 }
//facilities
.img-facilities img {
 max-width: 350px;
 transition: all 1.5s;
  &:hover {
    transform: scale(1.2);
  }
}
//quote of the day
.quote-of-the-day {
 @include bgImage;
 background-image: url('../img/home-testimonial-bg.jpg');
 height: 580px;
 display: flex;
 align-items: center;
  p {
  font-size: 40px;
  color: $standard-text-color;
  line-height: 50px;
  }
  h4 {
  text-transform: uppercase;
  line-height: 80px;
  }
  img {
  padding: 30px 0;
  }
}
//Trainers 
.trainer-descr {
  padding: 20px;
  h5 {
   color:$standard-text-color;
   font-size: 20px;
  }
  p {
    font-size: 16px;
    margin-top: 20px;
    padding: 20px 0;
   }
  
}
//news
.text-news {
 padding: 15px;
}
//goals
.goals {
  @include bgImage;
  background-image: url('../img/home-parallax.jpg');
  height: 200px;
  }
.goals-text {
 color: $standard-text-color;
  h4 {
   font-size: 35px;
   line-height: 80px;
  }
  p {
   font-size: 22px;
  }
}
//List Social 
.list-social {
  li {
    @include centerItems;
    width: 50px;
    height: 50px;
    background-color: $darker-bg;
    margin: 10px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
   }
   i {
    color: $standard-text-color;
   }
   
}


//Dividers
.divider {
position: relative;
}
.divider-bottom {
  z-index: 100;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $lighter-bg;
  content: "";
   &.trainer-div {
     border-top:  20px solid $darker-bg;
   }
}