//Colors
$darker-bg: #212425;
$lighter-bg: #252a2b;
$active-color: #d5625f;
$standard-text-color: #fff;
$secondary-text-color: #aeafae;
// Margins
$margin-top-section: 60px;

//Display Sections
@mixin containerStandard {
width: 1200px;
margin: 0 auto;
display: flex; 
justify-content: space-between;
}
@mixin containerSm {
width: 900px;
margin: 0 auto;
text-align: center;
}

@mixin titlesProperties {
text-align: center;
text-transform: uppercase;
font-weight: bold;
    
}
@mixin displayNav {
display: flex; 
justify-content: space-between;
align-items: center;  
}

@mixin listFlex {
    ul {
     list-style: none;
     display: flex;
    }
    li a {
    margin: 11px;
    text-decoration: none;
    }
 }
@mixin bgImage {
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
 @mixin boxColumn {
 display: flex;
 flex-direction: column;
 }

