//Colors
$darker-bg: #1e2123;
$lighter-bg: #252a2b;
$grey-bg: #333638;
$darker-grey: #212425;
$active-color: #d5625f;
$standard-text-color: #fff;
$secondary-text-color: #aeafae;
// Margins
$margin-top-section: 60px;

//Display Sections
@mixin containerStandard {
width: 1200px;
margin: 0 auto;
display: flex; 
justify-content: space-between;
padding: 40px 0;
}
@mixin containerSm {
width: 900px;
margin: 0 auto;
text-align: center;
}
@mixin containerCentered {
align-items: center;
}
@mixin centerItems {
display: flex;
align-items: center;
}
 @mixin containerGrid {
 display: grid;
 grid-template-columns: repeat(3, 380px);
 grid-row-gap: 20px;
 }


@mixin titlesProperties {
text-align: center;
text-transform: uppercase;
font-weight: bold;
    
}
@mixin displayNav {
display: flex; 
justify-content: space-between;
align-items: center;  
}

@mixin listFlex {
    ul {
     list-style: none;
     display: flex;
    }
    li a {
    margin: 11px;
    text-decoration: none;
    }
 }
@mixin bgImage {
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
 @mixin boxColumn {
 display: flex;
 flex-direction: column;
 }

